header{
  display: flex;
  justify-content: center;
}
.Link{
text-decoration: none;
color:blue;
}

#newThreadBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#newThread{
  display: flex;
  justify-content:center;
  align-items: center;
  width:50vw;
  height:30vh;
  overflow: scroll;
}
#newSummary{

}