header{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 150, 124);
  border-bottom: 3px solid turquoise;
  width: 100vw;
  border-radius: 0px 0px 15px 15px ;
}
.Link{
text-decoration: none;
color:black;
}

#newThreadBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#newThread{
  display: flex;
  justify-content:center;
  align-items: center;
  width:50vw;
  height:30vh;
  overflow: scroll;
}
#newSummary{

}
#snippetContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link{text-decoration: none;}
.title{margin:0;text-decoration: none;}
.tag{margin:0;text-decoration: none;}
.snippet{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 253, 239);
  border:2px solid black;
  margin:5px;
  width:70vw;
  height:60px;
  border-radius: 15px;
}
#createNew{
  border:3px solid black;
  border-radius: 5px;
  background-color: rgb(252, 255, 235);
  margin-right: 15px;

}
#create{display: flex;
justify-content: flex-end;
padding:10px;}

#threadMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#threadBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 3px;
}
#threadTitle{
  color: rgb(0, 111, 145);
  border-bottom: 3px solid black;
}
#threadTag{
  font-weight: bold;
  border-bottom: 2px soild black;
}
#threadContent{
  padding: 20px;
  width: 70vw;
  height: auto;
  background-color: rgb(171, 201, 228);
  border: 3px double rgb(0, 0, 0);
  margin: 2px;
  color: black;
}
#newComment{
  width: 50vw;
margin: 20px;
box-shadow: 2px 2px 2px black;
}
.comment{
  margin:2px;
  border:2px solid rgb(112, 111, 111);
  background-color: aliceblue;
  margin: 6px;
}
#commentBox{
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 80vw;
  border: 5px double rgba(0, 0, 0, 0.603);
  box-shadow: 5px 5px 3px rgb(0, 0, 0) ;
  background-color: rgb(255, 187, 187);
}
#newThread{
  border:2px solid black;
  box-shadow:5px 5px 3px black ;
}
#threadMain{
  height: 100vh;
  background-color: rgba(252, 247, 241, 0.747);

}